/* global */

html {
  scroll-behavior: smooth;
  @apply !bg-base-200 overflow-x-hidden overflow-y-scroll break-words;
}

::selection {
  @apply bg-primary text-primary-content;
}

/* urara-prose */

.urara-prose > blockquote {
  @apply font-semibold border-l-4 border-base-content text-base-content border-opacity-20 pl-4 pr-4;
}

.urara-prose > p {
  @apply mb-3;
}

.urara-prose > p > a,
.urara-link {
  background-size: 100% 0.2em;
  background-position: 0 88%;
  @apply font-semibold bg-gradient-to-r from-secondary to-secondary bg-no-repeat transition-all ease-in-out !no-underline;
}

.urara-prose > p > a:hover,
.urara-link:hover {
  background-size: 100% 100%;
  @apply !text-secondary-content;
}

.urara-prose > p strong a {
  @apply font-bold;
}

.urara-prose > h1 {
  @apply text-3xl font-semibold;
}

.urara-prose > h2 {
  @apply text-2xl font-semibold;
}

.urara-prose > h4 {
  @apply text-base font-semibold;
}

.urara-prose > h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold mb-4 mt-6;
}

.urara-prose > .shiki {
  @apply mockup-code p-5 mb-4 text-base !bg-neutral overflow-x-scroll children:(!p-0 !bg-transparent);
}

.urara-prose > .shiki::before {
  @apply -ml-5;
}

.urara-prose > .shiki code {
  @apply children:pr-5;
}

.urara-prose > dl,
dd {
  @apply text-base pl-8 mb-4;
}

.urara-prose > ol {
  @apply text-base pl-8 list-decimal mb-4;
}

.urara-prose > ul {
  @apply text-base pl-8 list-disc mb-4;
}

.urara-prose kbd {
  @apply kbd;
}

.urara-prose hr {
  @apply border-none divider;
}

.urara-prose input {
  @apply checkbox checkbox-xs;
}

/* fix */

.btn-primary:hover {
  @apply bg-primary-focus border-primary-focus;
}

.btn-secondary:hover {
  @apply bg-secondary-focus border-secondary-focus;
}

.btn-accent:hover {
  @apply bg-accent-focus border-accent-focus;
}

.btn-ghost:hover,
.btn-link:hover {
  @apply bg-base-content bg-opacity-20 border-opacity-0;
}

.collapse {
  @apply relative grid overflow-hidden;
}

.collapse-title,
.collapse > input[type='checkbox'] {
  @apply p-4 md:px-8;
}

.collapse-content,
.collapse-title,
.collapse > input[type='checkbox'] {
  @apply row-start-1 col-start-1;
}

.collapse > input[type='checkbox'] {
  @apply appearance-none opacity-0;
}

.collapse-content {
  @apply row-start-2 overflow-hidden;
}

.collapse-open .collapse-content,
.collapse:focus:not(.collapse-close) .collapse-content,
.collapse:not(.collapse-close) input[type='checkbox']:checked ~ .collapse-content {
  @apply max-h-9000px;
}

/* modify */

#footer a {
  @apply transition-all ease-in-out text-base-content font-semibold underline underline-2 underline-transparent opacity-75 hover:(opacity-100 text-secondary underline-secondary);
}

/* extend */

.urara-card-shadow {
  @apply shadow-xl transition-shadow ease-in-out hover:shadow-2xl;
}

.spoiler {
  @apply transition-colors ease-in-out delay-500 duration-500 bg-base-content hover:bg-transparent focus:bg-transparent;
}

/* your code here */
